*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: white;
  font: bold 2.5rem/1 'Open Sans', sans-serif;
  text-align: center;
  user-select: none;
  margin-top: 4.5rem;
}

.you-win {
  background: linear-gradient(darkslategray, black);
  font-size: 4rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 100vh;
}

header {
  background: #273434;
  padding: 1rem;
  width: 100vw;
  position: absolute;
  top: 0;
}

input {
  height: 5rem;
  width: 5rem;
  font-size: 5rem;
  line-height: 1;
}

header:before {
  content: '0 ';
}

/* Hit counter */

/* Style targets */

/* Motion */

/* Aim */

/* Completion */